* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    list-style: none;
    text-decoration: none;
}

a:visited {
    color: inherit
}

.container {
    min-height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    position: relative;
    padding-left: 55px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 48px;
    width: 48px;
}

.row {
    position: absolute;
    height: 1px;
    opacity: 0.25;
    left: 167px;
    right: 800px;
    z-index: 1;
}

.navbar {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    height: 96px;
    display: flex;
    align-items: center;
    width: 830px;
    margin-left: auto;
}

ul {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.nav-ul {
    margin-left: 123px;
    height: 100%;
    gap: 48px;
}

li {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;
    transition: .5s;
    height: 100%;
}

.normal:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.active {
    border-bottom: 3px solid rgb(255, 255, 255);

}


strong {
    font-weight: 700;
}

@media (max-width: 768px) {

    .row,
    strong {
        display: none;
    }

    header {
        padding-top: 0;
        padding-left: 39px;
    }

    .navbar {
        width: 450px;
    }

    .nav-ul {
        margin-left: 48px;
        gap: 37px;
    }

    .nav-li {
        font-size: 14px;
        letter-spacing: 2.36px;
    }
}

@media (max-width: 500px) {
    header {
        padding-left: 24px;
        padding-top: 24px;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .navbar {
        position: fixed;
        height: 100vh;
        width: 254px;
        right: -260px;
        top: 0;
        transition: all .3s;
        z-index: 2;
    }

    .nav-ul {
        flex-direction: column;
        gap: 32px;
        height: 212px;
        margin: 118px 0 377px 32px;
        align-items: flex-start;
        width: 100%;
    }

    .nav-li {
        font-size: 16px;
        padding: 0;
        width: 100%;
    }

    strong {
        display: inline-block;
        margin-right: 12px;
    }

    .active {
        border-right: 3px solid rgb(255, 255, 255);
        border-bottom: none;
    }

    .hamburguer {
        width: 24px;
        height: 21px;
        margin-right: 24px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        z-index: 3;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: #D0D6F9;
        transition: all ease .3s;
    }

    .show-menu .navbar {
        right: 0;
    }

    .show-menu #line1 {
        transform-origin: 0% 0%;
        transform: rotate(45deg) scaleX(1.1);
    }

    .show-menu #line2 {
        opacity: 0;
    }

    .show-menu #line3 {
        transform-origin: 0% 100%;
        transform: rotate(-45deg) scaleX(1.1);
    }

}